body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.container{
   flex: 1;
}


/* Navbar */
.navbar {
   height: 5rem;
   background-color: white;
}

.fa-compass {
   color: #fe424d;
   font-size: 2rem;
}

.nav-link {
   color: #222222 !important;

}

/* Footer */
.f-info-links a {
   text-decoration: none;
   color: #222222;

}

.f-info-links a:hover {
   text-decoration: underline;
}

.f-info-links,.f-info-brand,
.f-info-socials {
   width: 100%;
   vertical-align: middle;
   display: flex;
   align-items: center;
     justify-content: center;
  
}

.f-info-socials i {
    font-size: 1.2rem;;
   margin-right: 1rem;
}

.f-info {
   height: 8rem;
   background-color: gray;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;

}

/* Cards */
.listing-card{
   border: none !important;
   margin-bottom: 2rem;
   
}

.card-img-top{
   border-radius: 1rem !important;
   width: 100% !important;
   object-fit: cover !important;
}

.card-body{
   padding: 0 !important;
}

.card-text p{
   font-weight: 400 !important;
   
}

.listing-link{
   text-decoration: none;
   color: inherit;
}

/* Card Effect*/
.card-img-overlay{
   opacity: 0;
}

.card-img-overlay:hover{
opacity: 0.2;
background-color: white;
}


/* New Page */
.add-btn {
   background-color: #151414 !important;
   border:none !important;
    display: inline-block;     /* make it shrink to fit text */
  padding: 8px 20px;         /* adjust size */
  width: auto;               /* remove full width */
  font-size: 16px;
  border-radius: 6px;
   
}

/* Edit Page */
.edit-btn {
   background-color: #1d1b1b !important;
   border:none !important;

   
}

.btns
{
   display: flex;
   gap: 1rem;
}

.card-img-top {
  width: 100%;
  height: 250px;          /* 👈 set fixed height */
  object-fit: cover;      /* 👈 keeps aspect ratio, crops nicely */
  border-radius: 10px;    /* optional, for rounded corners */
}



/* Map */

#map { 
      height: 400px;
      width: 80vh;
   }