<%layout("layouts/boilerplate") %>
<div class="rows">
         <div class="col-6 offset-3">
            <form action="/login" method="POST">
               <h1>Login to Cortex</h1>
               <div class="mb-3">
                <br>
                  <label for="username" class="form-label">Username</label>
                  <input name="username" id="username" placeholder="Enter username" class="form-control needs-validation" novalidate>
               <div class="valid-feedback">Title looks good!!</div>  
                </div>

               <!-- <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input name="email" id="email" placeholder="Enter email" type="email" class="form-control" required>
               </div> -->

               <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input name="password" id="password" placeholder="Enter password" type="password" class="form-control" required>
               </div>

               <button class="btn btn-dark add-btn mt-2">Login</button>

            </form>

            </div>
            
        </div>